body {
    background-color: rgb(168, 53, 245);
}

.container {
    margin-top: 100px;
    background-color: rgb(37, 164, 223);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
}