body {
    padding: 0px;
    margin: 0px;
}

nav {
    margin: auto;
    text-align: center;
}

ul {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-color: rgb(118, 219, 131);
    text-align: center;
    margin: auto;
    padding-top: 20px;
    height: 60px;
}

li, a {
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color:black;
    display: inline;
}

.color1{
    background-color: aquamarine;
}

.tabla1{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}

.btn{
    height: 40px;
    width:100px;
}

.imgred1{
    border-radius: 20px;
}

.h2{
    font-weight: bold;
    font-size: 35px;
}