{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Inicio</title>
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agregar'%}"> Ingresar <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar'%}"> Gatitos en adopción </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.google.com/maps/place/Hanga+Roa+12580,+San+Bernardo,+Regi%C3%B3n+Metropolitana/@-33.5660326,-70.7070089,17z/data=!3m1!4b1!4m5!3m4!1s0x9662dbed89bb6c19:0x67f8f8769193f779!8m2!3d-33.5660326!4d-70.7048202"> Ubicacion </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row" style="text-align: center; background-color: aquamarine;">
        <div class ="col-xs-12 col-md-12 col-lg-12">
            <img src="{% static 'images/cat.png' %}" alt="" >
        </div>
        <div class ="col-xs-4 col-md-4 col-lg-4">
            <p><img src="{% static 'images/telefono.png' %}" width="25px" height="25px">+56985497561</p>
        </div>
        <div class ="col-xs-4 col-md-4 col-lg-4">
            Rescate y adopción de gatitos callejeros
        </div>
        <div class ="col-xs-4 col-md-4 col-lg-4">
            <a href="http://www.instagram.com"><img src="{% static 'images/inst.png' %}" width="25px" height="25px" style="border-radius: 20px;"></a>
            <a href="http://www.facebook.com"><img src="{% static 'images/facebook.png' %}" width="25px" height="25px" style="border-radius: 20px;"></a>
            <a href="http://www.gmail.com"><img src="{% static 'images/gmail.png' %}" width="25px" height="25px" style="border-radius: 20px;"></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div style="text-align: right;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h1>Rescate</h1>
                <h2>-----------</h2>
                <p>encontramos y salvamos a gatitos callejeros. Los rehabilitamos, alimentamos y cuidamos hasta el momento de su adopción</p>
                <img src="{% static 'images/gatotriste.jpg' %}" class="img-thumbnail" width=100% height=100%>
                <img src="{% static 'images/gatoRescatado.jpg' %}" class="img-thumbnail" width=49% height=150px>
                <img src="{% static 'images/cats.jpg' %}" class="img-thumbnail" width=49% height=150px>
            </div>
            <div style="text-align: left;" class="text-align:left col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{% static 'images/gatito.jpg' %}" class="img-thumbnail">
                <h1>Presentación de la asociación</h1>
                <p>palabras del fundador</p>
                <h2>-----------</h2>
                <p>Durante años nos hemos dedicado a esta tarea, rescatar gatos callejeros y darles una segunda oportunidad, 
                dandolos en adopcion en buenas condiciones de salud a nuevas familias que quieran adoptarlos, nuestros medios
                para costear esta tarea, son totalmente de donaciones y aportes del gobierno.</p>
                <a href="http://www.google.com"><input class="btn btn-danger" type="button" value="Salir"></a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>